* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", "Open Sans", Helvetica, sans-serif;
}

img {
  max-height: 100%;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #303030;
}
